---
layout: default
title: Heinrich Hartmann
---

<blockquote style="text-align:right; margin: 50px 0 50px 0;">Schreiben, nur schreiben macht seelig! -- D. Stuhrmann</blockquote>

<div id="home">

  <h1>Blogs</h1>

  <ul class="posts">
    {% for post in site.categories.blog %}{% unless post.hidden %}
    <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
      {% if post.comment %} - <em>{{ post.comment }}</em>{% endif %}
      {% if post.external_url %} (on {{ post.external_site }}) {% endif %}
    </li>
    {% endunless %}{% endfor %}
  </ul>

  <h1>Papers</h1>
  <ul class="posts">
    <li><span>2016-07-01 </span> &raquo; <a href="http://cacm.acm.org/magazines/2016/7/204029-statistics-for-engineers/abstract">CACM Vol. 59 No. 7</a> Statistics for Engineers (<a href="http://dx.doi.org/10.1145/2890780">doi</a>)</li>
  <li><span>2016-04-19 </span> &raquo; -, Wambach, Meffert, Grimm - A Privacy Aware Mobile Sensor Application. <a href="/assets/A Privacy Aware Mobile Sensor Application.pdf">pdf</a></li>
  <li><span>2016-03-11 </span> &raquo; <a href="https://queue.acm.org/detail.cfm?id=2903468">ACM Queue 14/1</a> Statistics for Engineers</li>
  <li><span>2015-03-26 </span> &raquo; Kling et. al. - Voting Power in Online Democracy, <em><a href="http://www.icwsm.org/2015">ICWSM 2015</a></em>, <a href="http://arxiv.org/abs/1503.07723">arxiv</a></li>
  <li><span>2010-12-14 </span> &raquo; Cusps of the Kähler moduli space, <em>Mathematische Annalen</em>, 2012 <a href="http://dx.doi.org/10.1007/s00208-011-0719-3">doi</a>, <a href="http://arxiv.org/abs/1012.3121">arxiv</a></li>
  <li><span>2011-01-14 </span> &raquo; Period and Mirror Maps for the Quartic K3, <em>Man. Math.</em>, 2013, <a href="http://dx.doi.org/10.1007/s00229-012-0577-7">doi</a>, <a href="http://arxiv.org/abs/1101.4601">arxiv</a></li>
  <li><span>2011-05-14 </span> &raquo; Mirror symmetry and stability conditions on K3 surfaces, <em>PhD thesis</em>, <a href="http://hss.ulb.uni-bonn.de/2011/2598/2598.pdf">pdf</a></li>
  <li><span>2007-06-01 </span> &raquo; Nodale Kurven und Hilbertschemata, <em>Diplomarbeit</em>, Mainz, 2007, <a href="http://www.slideshare.net/HeinrichHartmann/nodale-kurven-und-hilbertschemata">pdf</a></li>
  </ul>

  <h1>Talks</h1>
  <ul class="posts">
    <li><span>2016-11-29 </span> &raquo; <a href="https://www.netways.de/en/events_trainings/osmc/">OSMC</a>, Nürnberg - Friends and foes in API Monitoring</li>
    <li><span>2016-07-01 </span> &raquo; <a href="http://cacm.acm.org/magazines/2016/7/204029-statistics-for-engineers/abstract">CACM Vol. 59 No. 7</a> Statistics for Engineers (<a href="http://dx.doi.org/10.1145/2890780">doi</a>)</li>
    <li><span>2016-07-12 </span> &raquo; <a href="https://srecon16europe.sched.org/event/7VkQ/statistics-for-engineers">SREcon16Europe</a>, Dublin - Workshop: Statistics for Engineers</li>
    <li><span>2016-06-27 </span> &raquo; <a href="http://monitorama.com">Monitorama PDX, 2016</a> - A Tale of API Monitoring (<a href="http://www.slideshare.net/HeinrichHartmann/statistics-for-engineers-63589022">slides</a>, <a href="https://vimeo.com/173610069">video</a>)</li>
    <li><span>2015-11-13 </span> &raquo; <a href="https://www.usenix.org/conference/lisa15/conference-program/presentation/hartmann">LISA15 - Scalable Online Analytics for Monitoring</a> in Washington D.C. (<a href="http://www.slideshare.net/HeinrichHartmann/scalable-online-analytics-for-monitoring">slides</a>)
    <li><span>2015-10-23 </span> &raquo; <a href="http://velocityconf.com/devops-web-performance-eu-2015/public/schedule/detail/45241">Velocity - Statistics for Engineers</a> in Amsterdam, Netherlends
    <li><span>2015-06-30 </span> &raquo; <a href="http://www.statscraft.org.il/">StatsCraft</a>  in Tel-Aviv, Israel -- Tutorial Statistics for Engineers
    <li><span>2015-05-14 </span> &raquo; <a href="https://www.usenix.org/conference/srecon15europe">SREcon</a> in Dublin -- Tutorial Statistics for Engineers (<a href="https://github.com/HeinrichHartmann/StatisticsTutorial">slides</a>)
    <li><span>2013-04-13 </span> &raquo; <a href="http://rigourandopenness.org">Rigour and Openness Conference</a> at Oxford University (Organizer)
    <li><span>2015-03-11 </span> &raquo; <a href="https://archive.fosdem.org/2013/">FOSDEM</a> in Brussels -- <a href="http://www.rene-pickhardt.de/wp-content/uploads/2013/02/FOSDEMrelatedwork.pdf">Talk on Related-Work.net</a> with Rene Pickhardt (<a href="https://www.youtube.com/watch?v=GnJZUOpY91Q">video</a>)</li>
  </ul>

  <h1>Misc</h1>
  <ul class="posts">
    <li><span>2015-05-14 </span> &raquo; <a href="https://github.com/HeinrichHartmann/Statistics-for-Engineers">Statistics for Engineers</a> Tutorial notes and datasets.</li>
    <li><span>2014-10-22 </span> &raquo; <a href="https://blog.west.uni-koblenz.de/2014-10-22/privacy-protection">Privacy Protection for Mobile Sensor Data</a></span> for <a href="http://west.uni-koblenz.de/">WeST</a>-Blog</li>
  <li><span>1999-02-16 </span> &raquo; <a href="http://www.google.com/patents/DE19906459A1?cl=de">Patent DE19906459</a> Butterbrotschmiermaschine.
  <li><span style="display: inline-block; width: 84px;"></span> &raquo; &raquo; &raquo; <a href="http://www.slideshare.net/HeinrichHartmann">more on slideshare.net</a></li>
  </ul>

  <h1>Software</h1>
  <ul class="posts">
    <li><a href="http://related-work.net/">Related-Work.net:</a> an open paper discussion platform. (Co-founder)</li>
    <li><a href="https://github.com/Completionary/">Completionary:</a> auto-completion as a service. (Co-founder)</li>
    <li><a href="https://github.com/HeinrichHartmann/MORA">MORA:</a>  Mobile Sensor Analysis Toolkit</li>
    <li><a href="https://github.com/HeinrichHartmann/RequestDispatcher">Request Dispatcher:</a> asynchronus callback framework for Java using ZeroMQ.</li>
    <li><a href="https://github.com/HeinrichHartmann/zmqdump">zmqdump:</a> tcpdump for ZeorMQ</li>
    <li><a href="https://github.com/zeromq/jeromq">JeroMQ:</a> Messaging library (contributor)</li>
    <li><a href="https://github.com/jech/polipo">Polipo</a> HTTP Proxy (contributor)</li>
  </ul>
</div>
