<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
  {{ with .Params.canonical }} <link rel="canonical" href="{{ .url }}"/>   {{ end }}
  <link rel="icon" type="image/png" href="/favicon.png">
  
  <link rel="stylesheet" href="{{ "/v2/css/base.css" | relURL }}">
  <link rel="stylesheet" href="{{ "/v2/css/syntax.css" | relURL }}">
  <style>
   /* base.css */
   {{ readFile "/static/v2/css/base.css" | safeCSS }}
   /* syntax.css */
   {{ readFile "/static/v2/css/syntax.css" | safeCSS }}
   {{ if eq .Params.style "markdown" }}
     /* markdown.css */
     {{ readFile "/static/v2/css/markdown.css" | safeCSS }}
   {{ else }}
     /* screen.css */
     {{ readFile "/static/v2/css/screen.css" | safeCSS }}
   {{ end }}
  </style>
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
  {{ with .Params.mathjax }}
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    MathJax.Hub.Config({
      tex2jax: {
        displayMath: [['$$','$$']],
        inlineMath: [['$','$']],
        processEscapes: false
      }
    });
  </script>{{ end }}
</html>
