{{ define "main" }}
  <main class="markdown-container">
    <article class="markdown-body">
      {{ with.Params.draft }}<h1 class="sticker"> UNPUBLISHED DRAFT </h1>{{ end }}
      <h1>{{ .Title }}</h1>
      {{ with .Params.backdrop }}<img class="backdrop" src="{{ . }}"></img>{{ end }}
      <p class="meta" style="color:#aaa; float:right">
        {{ with .Params.location }} {{ . }}, {{ end }}
        {{ dateFormat "2006-01-02" .Params.date }}
        {{ with .Params.canonical }} for the <a href="{{ .url }}">{{ .name }}</a>. {{ end }}
      </p>
      <div style="clear:both">
	{{ .Content }}
      </div>
    </article>
  </main>
{{ end }}
