header a {
  text-align: center;
  width: 100%;
  font-family: Helvetica, arial, sans-serif;
  font-size: 20px;
  color: #a00;
  font-weight: bold;
  margin-top: 2em;
  text-decoration: none;
  display: block;
}

header a {
  color: #00a;
}

header a:hover {
  color: black;
}

header a:visited {
  color: #a00;
}

.sticker {
  color:red;
  display: block;
  border-style:solid !important;
  border-color:red !important;
  border-radius:0.2em !important;
  border-width: 3px !important;
  padding: 0px !important;
  text-align: center !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
