<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <title>{{ page.title }}</title>
   <meta name="author" content="Heinrich Hartmann"/>
   {% if page.canonical %}<link rel="canonical" href="{{ page.canonical.url }}"/>{% endif %}
   </head>
<body>
  <div class="site">
    <div class="headline"><a href="/">Heinrich Hartmann</a></div>
    {{ content }}
  </div>
</body>
<style>
  {% include css/screen.css %}
</style>
<style>
  {% include css/syntax.css %}
</style>
</html>
