<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<html>
    <head>
      <meta charset="utf-8"/>
      <title>{{ page.title }}</title>

<style type="text/css">

body {
  background-color: #fff;
  color: #000;
  font-family: "Enriqueta", serif;
  font-size: 13px; line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;
}

#content { 
  position: relative;
  width: 590px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 24px 12px;
  box-sizing: border-box;
  border-radius: 3px;
}

</style>
    </head>
    <body>
      <div id="content">
      {{ content }}
      </div>
    </body>
</html>
