---
layout: default
---

<div id="post">
  <h1 id="h1-title"> {{ page.title }}</h1>
  {% if page.hidden %}
  <h1 id="h1-hidden" class="sticker"> UNPUBLISHED DRAFT </h1>
  {% endif %}
  {% if page.pdflink %}
  <div class="pdflink">
    <a href="{{ site.url }}{{ page.pdflink }}">[pdf]</a>
  </div>
  {% endif %}
  <p class="meta">
    Written on {{ page.date | date: "%Y-%m-%d" }}
    {% if page.location %} in {{ page.location }} {% endif %}
    {% if page.canonical %} for the <a href="{{ page.canonical.url }}">{{ page.canonical.name }}</a>. {% endif %}
  </p>

  <!-- Splash -->
  {% if page.splash %}
  <div class="splash">
    {% if page.splash.link %}<a href="{{ page.splash.link }}">{% endif %}
      <img src="{{ page.splash.src }}" width="100%"/>
    {% if page.splash.link %}</a>{% endif %}
    {% if page.splash.credits %} <p class="credits">{{ page.splash.credits }}</p> {% endif %}
  </div>
  {% endif %}

  <!-- Abstract -->
  {% if page.abstract %}
  <p class="abstract">{{ page.abstract }}</p>
  {% endif %}

  {% if page.mathjax %}
     <!-- Mathjax preamble -->
     <div style="visibility:hidden; display:none;">$${% include mathjax-preamble.tex %}$$</div>
  {% endif %}


  <!-- Post content -->
  {{ content }}

  <!-- Include Mathjax if needed -->
  {% if page.mathjax %}
  <script type="text/javascript" async
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$']],
        displayMath: [['$$','$$'], ["BEGIN_MATH","END_MATH"]]
      }
    });
    MathJax.Hub.Register.MessageHook("Math Processing Error", function(message)
                                     {
                                       console.log("MathJax error:");
                                       console.log(message);
                                     });
  </script>
  {% endif %}

</div>
