---
layout: default
---


<div id="post">
  <!-- Title -->
  <h1> {{ page.title }}</h1>

  <!-- Meta -->
  <p class="meta">
    Written on {{ page.date | date: "%Y-%m-%d" }}
    {% if page.location %} in {{ page.location }} {% endif %}
  </p>

  {% if page.hidden %}
  <h1 style="color:red"> UNPUBLISHED DRAFT </h1>
  {% endif %}

  <!-- Splash -->
  {% if page.splash %}
  <div class="splash">
    {% if page.splash.link %}<a href="{{ page.splash.link }}">{% endif %}
      <img src="{{ page.splash.src }}" width="100%"/>
    {% if page.splash.link %}</a>{% endif %}
    {% if page.splash.credits %} <p class="credits">{{ page.splash.credits }}</p> {% endif %}
  </div>
  {% endif %}

  <!-- Post content -->
  {{ content }}

  <!-- Comments -->
  {% unless page.nocomments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'heinrichhartmann';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments</a></noscript>
  {% endunless %}
</div>
